.list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    // min-height: 660px;
    justify-content: flex-start;
    align-items: flex-start;
    .list-item {
        margin-right: 27px;
        margin-bottom: 20px;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}